@import "~materialize-css/dist/css/materialize.min.css";


input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

@media ( max-width: 767px) {
  .auth-wrapper {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .auth-wrapper h1 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav .brand-logo {
    position: static;
    left: auto;
    transform: none;
    font-size: 24px;
  }
  nav {
    height: 100%;
  }

}